.text-layout {
  min-height: 1020px;
  .mb {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  #content {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 0;
    .headline {
      font-size: 4rem;
      color: white;
      &::first-letter {
        font-size: 7rem;
        color: var(--pink);
      }
    }
    p {
      font-size: 1.2rem;
      line-height: 1.4;
    }
  }
}
